extends layout

block content
  .w3-container
    if locals.user
      h4 You are logged in!
    else
      h4 You are not logged in! Please #[a(href="/login") Log In] to continue.

  //SignIn #[a href="https://dev-9tabcska.auth0.com/authorize?response_type=code&client_id=8nFjS4ZG173VRQ8EJMrSyuwvKMwGw8cp&redirect_uri=http://localhost:3000/callback&scope=openid%20profile&state=xyzABC123"]